.container {
  display: flex;
  background-color: rgb(193, 13, 13);
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.text {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem;
}

.textMob {
  color: #fff;
  font-weight: bold;
  margin: 1.5rem;
}
